html {
  font-size: 1em;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  font-size: 0.8rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}
