html {
  font-size: 1em;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  font-size: 0.75rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

@media (min-width: 560px) {
  body {
    font-size: .875rem;
  }
}
