:root {

  --total-columns: 12;
  --column-width: calc(100% / var(--total-columns));
  --max-width: 1200px;
  --gutter: 1.5rem;

  --font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font-family: Hack, monospace;
  --title-font-family: Bebas, "Bebas Neue", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --background-color: #FBFBFB;
  --font-color: #143945;

  --link-color: #21B4EB;
  --link-color-hover: #039FD9;

  --text-color-primary: #21B4EB;
  --text-color-danger: #E15454;
  --text-color-success: #2EC94E;

  --button-font-color: #FFF;
  --button-font-color-enter: #FFF;
  --button-font-color-active: #FFF;

  --button-background-color: #555;
  --button-background-color-enter: #333;
  --button-background-color-active: #222;

  --button-border: 2px solid #555;
  --button-border-color-enter: #333;
  --button-border-color-active: #222;

  --button-ghost-font-color: #555;
  --button-ghost-font-color-enter: #333;
  --button-ghost-font-color-active: #222;

  --button-ghost-background-color: transparent;
  --button-ghost-background-color-enter: transparent;
  --button-ghost-background-color-active: transparent;

  --button-ghost-border: 2px solid #555;
  --button-ghost-border-color-enter: #333;
  --button-ghost-border-color-active: #222;

  --primary-button-font-color: #FFF;
  --primary-button-font-color-enter: #FFF;
  --primary-button-font-color-active: #FFF;

  --primary-button-background-color: #21B4EB;
  --primary-button-background-color-enter: #039FD9;
  --primary-button-background-color-active: #157B9B;

  --primary-button-border: 2px solid #21B4EB;
  --primary-button-border-color-enter: #039FD9;
  --primary-button-border-color-active: #157B9B;

  --primary-button-ghost-font-color: #21B4EB;
  --primary-button-ghost-font-color-enter: #039FD9;
  --primary-button-ghost-font-color-active: #157B9B;

  --primary-button-ghost-background-color: transparent;
  --primary-button-ghost-background-color-enter: transparent;
  --primary-button-ghost-background-color-active: transparent;

  --primary-button-ghost-border: 2px solid #21B4EB;
  --primary-button-ghost-border-color-enter: #039FD9;
  --primary-button-ghost-border-color-active: #157B9B;

  --success-button-font-color: #FFF;
  --success-button-font-color-enter: #FFF;
  --success-button-font-color-active: #FFF;

  --success-button-background-color: #2EC94E;
  --success-button-background-color-enter: #27AE60;
  --success-button-background-color-active: #2EC94E;

  --success-button-border: 2px solid #2EC94E;
  --success-button-border-color-enter: #27AE60;
  --success-button-border-color-active: #2EC94E;

  --success-button-ghost-font-color: #2EC94E;
  --success-button-ghost-font-color-enter: #27AE60;
  --success-button-ghost-font-color-active: #2EC94E;

  --success-button-ghost-background-color: transparent;
  --success-button-ghost-background-color-enter: transparent;
  --success-button-ghost-background-color-active: transparent;

  --success-button-ghost-border: 2px solid #2EC94E;
  --success-button-ghost-border-color-enter: #27AE60;
  --success-button-ghost-border-color-active: #2EC94E;

  --danger-button-font-color: #FFF;
  --danger-button-font-color-enter: #FFF;
  --danger-button-font-color-active: #FFF;

  --danger-button-background-color: #E15454;
  --danger-button-background-color-enter: #C0392B;
  --danger-button-background-color-active: #E15454;

  --danger-button-border: 2px solid #E15454;
  --danger-button-border-color-enter: #C0392B;
  --danger-button-border-color-active: #E15454;

  --danger-button-ghost-font-color: #E15454;
  --danger-button-ghost-font-color-enter: #C0392B;
  --danger-button-ghost-font-color-active: #E15454;

  --danger-button-ghost-background-color: transparent;
  --danger-button-ghost-background-color-enter: transparent;
  --danger-button-ghost-background-color-active: transparent;

  --danger-button-ghost-border: 2px solid #E15454;
  --danger-button-ghost-border-color-enter: #C0392B;
  --danger-button-ghost-border-color-active: #E15454;

  --form-background-color: #FFF;
  --form-font-color: #222;
  --form-border: 1px solid #D1D1D1;
  --form-border-enter: 1px solid #21B4EB;
  --form-border-enter-error: 1px solid #E15454;
  --form-border-enter-success: 1px solid #2EC94E;

  --code-background: #F1F1F1;
  --code-border: 1px solid #E1E1E1;

  --alert-font-color: #000;
  --alert-border: 1px solid #000;
  --alert-background-color: #FFF;

  --alert-primary-font-color: #FFF;
  --alert-primary-border: 1px solid #21B4EB;
  --alert-primary-background-color: #21B4EB;

  --alert-success-font-color: #FFF;
  --alert-success-border: 1px solid #2EC94E;
  --alert-success-background-color: #2EC94E;

  --alert-danger-font-color: #FFF;
  --alert-danger-border: 1px solid #E15454;
  --alert-danger-background-color: #E15454;

  --td-border-bottom: 1px solid #E1E1E1;

  --border-radius: 3px;
  --hr: 1px solid #E1E1E1;

  --card-shift: -2px;
  --card-active-border: #8A8A8A;
  --card-border: #E1E1E1;
  --card-shadow: #E1E1E1;
  --card-anchor-color: #757575;
}
