:root {

  --total-columns: 12;
  --column-width: calc(100% / var(--total-columns));
  --max-width: 1200px;
  --gutter: 1.5rem;

  --font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font-family: Hack, monospace;
  --title-font-family: Bebas, "Bebas Neue", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --background-color: #FFF;
  --font-color: #353535;

  --link-color: #0CF;
  --link-color-hover: #33D6FF;

  --text-color-primary: #0CF;
  --text-color-danger: #E74C3C;
  --text-color-success: #2ECC71;

  --button-font-color: #FFF;
  --button-font-color-enter: #FFF;
  --button-font-color-active: #FFF;
  --button-font-color-disabled: #FFF;

  --button-background-color: #555;
  --button-background-color-enter: #333;
  --button-background-color-active: #222;
  --button-background-color-disabled: #888;

  --button-border: 1px solid #555;
  --button-border-color-enter: #333;
  --button-border-color-active: #222;
  --button-border-color-disabled: #888;

  --button-ghost-font-color: #555;
  --button-ghost-font-color-enter: #333;
  --button-ghost-font-color-active: #222;
  --button-ghost-font-color-disabled: #888;

  --button-ghost-background-color: transparent;
  --button-ghost-background-color-enter: transparent;
  --button-ghost-background-color-active: transparent;
  --button-ghost-background-color-disabled: transparent;

  --button-ghost-border: 1px solid #555;
  --button-ghost-border-color-enter: #333;
  --button-ghost-border-color-active: #222;
  --button-ghost-border-color-disabled: #888;

  --primary-button-font-color: #FFF;
  --primary-button-font-color-enter: #FFF;
  --primary-button-font-color-active: #FFF;
  --primary-button-font-color-disabled: #FFF;

  --primary-button-background-color: #0CF;
  --primary-button-background-color-enter: #33D6FF;
  --primary-button-background-color-active: #157B9B;
  --primary-button-background-color-disabled: #7CD9F8;

  --primary-button-border: 1px solid #0CF;
  --primary-button-border-color-enter: #33D6FF;
  --primary-button-border-color-active: #157B9B;
  --primary-button-border-color-disabled: #7CD9F8;

  --primary-button-ghost-font-color: #0CF;
  --primary-button-ghost-font-color-enter: #33D6FF;
  --primary-button-ghost-font-color-active: #157B9B;
  --primary-button-ghost-font-color-disabled: #7CD9F8;

  --primary-button-ghost-background-color: transparent;
  --primary-button-ghost-background-color-enter: transparent;
  --primary-button-ghost-background-color-active: transparent;
  --primary-button-ghost-background-color-disabled: transparent;

  --primary-button-ghost-border: 1px solid #0CF;
  --primary-button-ghost-border-color-enter: #33D6FF;
  --primary-button-ghost-border-color-active: #157B9B;
  --primary-button-ghost-border-color-disabled: #7CD9F8;

  --success-button-font-color: #FFF;
  --success-button-font-color-enter: #FFF;
  --success-button-font-color-active: #FFF;
  --success-button-font-color-disabled: #FFF;

  --success-button-background-color: #2ECC71;
  --success-button-background-color-enter: #27AE60;
  --success-button-background-color-active: #2ECC71;
  --success-button-background-color-disabled: #82E3AA;

  --success-button-border: 1px solid #2ECC71;
  --success-button-border-color-enter: #27AE60;
  --success-button-border-color-active: #2ECC71;
  --success-button-border-color-disabled: #82E3AA;

  --success-button-ghost-font-color: #2ECC71;
  --success-button-ghost-font-color-enter: #27AE60;
  --success-button-ghost-font-color-active: #2ECC71;
  --success-button-ghost-font-color-disabled: #82E3AA;

  --success-button-ghost-background-color: transparent;
  --success-button-ghost-background-color-enter: transparent;
  --success-button-ghost-background-color-active: transparent;
  --success-button-ghost-background-color-disabled: transparent;

  --success-button-ghost-border: 1px solid #2ECC71;
  --success-button-ghost-border-color-enter: #27AE60;
  --success-button-ghost-border-color-active: #2ECC71;
  --success-button-ghost-border-color-disabled: #82E3AA;

  --danger-button-font-color: #FFF;
  --danger-button-font-color-enter: #FFF;
  --danger-button-font-color-active: #FFF;
  --danger-button-font-color-disabled: #FFF;

  --danger-button-background-color: #E74C3C;
  --danger-button-background-color-enter: #C0392B;
  --danger-button-background-color-active: #E74C3C;
  --danger-button-background-color-disabled: #EE8377;

  --danger-button-border: 1px solid #E74C3C;
  --danger-button-border-color-enter: #C0392B;
  --danger-button-border-color-active: #E74C3C;
  --danger-button-border-color-disabled: #EE8377;

  --danger-button-ghost-font-color: #E74C3C;
  --danger-button-ghost-font-color-enter: #C0392B;
  --danger-button-ghost-font-color-active: #E74C3C;
  --danger-button-ghost-font-color-disabled: #EE8377;

  --danger-button-ghost-background-color: transparent;
  --danger-button-ghost-background-color-enter: transparent;
  --danger-button-ghost-background-color-active: transparent;
  --danger-button-ghost-background-color-disabled: transparent;

  --danger-button-ghost-border: 1px solid #E74C3C;
  --danger-button-ghost-border-color-enter: #C0392B;
  --danger-button-ghost-border-color-active: #E74C3C;
  --danger-button-ghost-border-color-disabled: #EE8377;

  --form-background-color: #FFF;
  --form-font-color: #222;
  --form-border: 1px solid #D1D1D1;
  --form-border-enter: 1px solid #0CF;
  --form-border-enter-error: 1px solid #E74C3C;
  --form-border-enter-success: 1px solid #2ECC71;

  --code-background: #F1F1F1;
  --code-border: 1px solid #E1E1E1;

  --alert-font-color: #000;
  --alert-border: 1px solid #000;
  --alert-background-color: #FFF;

  --alert-primary-font-color: #FFF;
  --alert-primary-border: 1px solid #0CF;
  --alert-primary-background-color: #0CF;

  --alert-success-font-color: #FFF;
  --alert-success-border: 1px solid #2ECC71;
  --alert-success-background-color: #2ECC71;

  --alert-danger-font-color: #FFF;
  --alert-danger-border: 1px solid #E74C3C;
  --alert-danger-background-color: #E74C3C;

  --td-border-bottom: 1px solid #E1E1E1;

  --border-radius: 3px;
  --hr: 1px solid #E1E1E1;

  --card-shift: -2px;
  --card-active-border: #8A8A8A;
  --card-border: #E1E1E1;
  --card-shadow: #E1E1E1;
  --card-anchor-color: #757575;
}
