/* Base Typo
 font-size: 2rem;----------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .75rem;
  font-family: var(--title-font-family);
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}


/* Larger than phablet */

@media (min-width: 560px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.375rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  h6 {
    font-size: 1rem;
  }
}

p {
  margin-top: 0;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-primary {
 color: var(--text-color-primary)
}

.text-success {
  color: var(--text-color-success)
}

.text-danger {
  color: var(--text-color-danger)
}
